@import "tailwindcss/base";
@import "tailwindcss/components";

@import "../tailwind/components.css";

@import "tailwindcss/utilities";

.animated-icon {
  & > * {
    @apply transition-all;
  }
  &:hover {
    @apply text-white;
    & > * {
      @apply -translate-x-2;
    }
  }
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
}

h1 {
  /*text-shadow: rgba(0, 0, 0, 0.25) 7px 0px 5.5px;*/
}

@layer components {
  .features {
    @apply relative;
  }

  .features::before,
  .features::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: #d1d5db;
  }

  .features::after {
    width: 1px;
    height: calc(100% + 1.25rem);
  }
  .features::before {
    height: 1px;
    width: calc(100% - 2rem);
  }

  @media screen and (min-width: 1024px) {
    .features::before,
    .features::after {
      content: none;
    }
  }
}
