.hero{
   position: relative;
   &::before {
      content: url('/images/hero-circle.png');
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      transform: translate(50px,-100px);
   }
}