.btn {
  @apply inline-flex items-center justify-center text-center transition duration-100 ease-in-out;
  @apply select-none gap-1 rounded-4xl border border-transparent px-4 py-2 no-underline;
  &:active:hover,
  &:active:focus {
    transform: scale(0.97);
  }

  /* default btn */
  &-text {
    &.btn-blue {
      @apply text-blue;

      &:active {
        @apply text-blue-700;
      }

      &:focus {
        @apply border-2 border-blue-200 text-blue;
      }

      @media (hover: hover) {
        &:hover {
          @apply text-blue-300;
        }
      }
    }

    &.btn-success {
      @apply text-success;

      &:active {
        @apply text-success-700;
      }

      &:focus {
        @apply border-2 border-success-200 text-success;
      }

      @media (hover: hover) {
        &:hover {
          @apply text-success-300;
        }
      }
    }

    &.btn-warning {
      @apply text-warning;

      &:active {
        @apply text-warning-700;
      }

      &:focus {
        @apply border-2 border-warning-200 text-warning;
      }

      @media (hover: hover) {
        &:hover {
          @apply text-warning-300;
        }
      }
    }

    &.btn-danger {
      @apply text-danger;

      &:active {
        @apply text-danger-700;
      }

      &:focus {
        @apply border-2 border-danger-200 text-danger;
      }

      @media (hover: hover) {
        &:hover {
          @apply text-danger-300;
        }
      }
    }

    &[disabled],
    &:disabled {
      @apply !bg-transparent;
    }
  }

  &-primary {
    &.btn-blue {
      @apply bg-blue text-blue-content;

      @media (hover: hover) {
        &:hover {
          @apply bg-blue-300;
        }
      }

      &:active {
        @apply bg-blue-700;
      }

      &:focus {
        @apply border-2 border-blue-200 bg-blue;
      }
    }

    &.btn-success {
      @apply bg-success text-success-content;

      @media (hover: hover) {
        &:hover {
          @apply bg-success-400;
        }
      }

      &:active {
        @apply bg-success-600;
      }

      &:focus {
        @apply border-2 border-success-400 bg-success;
      }
    }

    &.btn-warning {
      @apply bg-warning text-warning-content;

      @media (hover: hover) {
        &:hover {
          @apply bg-warning-400;
        }
      }

      &:active {
        @apply bg-warning-600;
      }

      &:focus {
        @apply border-2 border-warning-400 bg-warning;
      }
    }

    &.btn-danger {
      @apply bg-danger text-danger-content;

      @media (hover: hover) {
        &:hover {
          @apply bg-danger-400;
        }
      }

      &:active {
        @apply bg-danger-600;
      }

      &:focus {
        @apply border-2 border-danger-400 bg-danger;
      }
    }
  }

  &-secondary {
    &.btn-blue {
      @apply bg-blue-50 text-blue;

      @media (hover: hover) {
        &:hover {
          @apply text-blue-300;
        }
      }

      &:active {
        @apply text-blue-700;
      }

      &:focus {
        @apply border-2 border-blue-200 text-blue;
      }
    }

    &.btn-success {
      @apply bg-success-50 text-success;

      @media (hover: hover) {
        &:hover {
          @apply text-success-600;
        }
      }

      &:active {
        @apply text-success-700;
      }

      &:focus {
        @apply border-2 border-success-200 text-success;
      }
    }

    &.btn-warning {
      @apply bg-warning-50 text-warning;

      @media (hover: hover) {
        &:hover {
          @apply text-warning-300;
        }
      }

      &:active {
        @apply text-warning-700;
      }

      &:focus {
        @apply border-2 border-warning-200 text-warning;
      }
    }

    &.btn-danger {
      @apply bg-danger-50 text-danger;

      @media (hover: hover) {
        &:hover {
          @apply text-danger-300;
        }
      }

      &:active {
        @apply text-danger-700;
      }

      &:focus {
        @apply border-2 border-danger-200 text-danger;
      }
    }
  }

  &-outline {
    @apply border;

    &.btn-primary {
      @apply border-icon-500 bg-white-50 text-icon-500;
      @media (hover: hover) {
        &:hover {
          @apply text-icon-900;
        }
      }

      &:active {
        @apply border-blue-700 text-blue-700;
      }

      &:focus {
        @apply border-2 border-blue-200 text-blue;
      }
    }

    &.btn-blue {
      @apply border-blue-300 bg-blue-50 text-blue;
      @media (hover: hover) {
        &:hover {
          @apply text-blue-300;
        }
      }

      &:active {
        @apply border-blue-700 text-blue-700;
      }

      &:focus {
        @apply border-2 border-blue-200 text-blue;
      }
    }

    &.btn-success {
      @apply border-success-300 bg-success-50 text-success;
      @media (hover: hover) {
        &:hover {
          @apply text-success-300;
        }
      }

      &:active {
        @apply border-success-600 text-success-600;
      }

      &:focus {
        @apply border-2 border-success-200 text-success;
      }
    }

    &.btn-warning {
      @apply border-warning-400 bg-warning-50 text-warning;
      @media (hover: hover) {
        &:hover {
          @apply text-warning-400;
        }
      }

      &:active {
        @apply border-warning-600 text-warning-600;
      }

      &:focus {
        @apply border-2 border-warning-200 text-warning;
      }
    }

    &.btn-danger {
      @apply border-danger-400 bg-danger-50 text-danger;
      @media (hover: hover) {
        &:hover {
          @apply text-danger-400;
        }
      }

      &:active {
        @apply border-danger-600 text-danger-600;
      }

      &:focus {
        @apply border-2 border-danger-200 text-danger;
      }
    }

    &[disabled],
    &:disabled {
      @apply border border-black-100;
    }
  }

  &[disabled],
  &:disabled {
    @apply pointer-events-none bg-white-100 text-black-200;
  }

  /* size and shape */
  &-xs {
    @apply h-6 px-2;
    font-size: 0.75rem;
  }

  &-sm {
    @apply h-8 px-3;
    font-size: 0.875rem;
  }

  &-md {
    @apply h-12 px-4;
    font-size: 0.875rem;
  }

  &-lg {
    @apply h-14 px-6;
    font-size: 1.125rem;
  }

  &-wide {
    @apply w-64 flex-nowrap;
  }

  &-block {
    @apply w-full;
  }

  &-square {
    @apply size-9 p-0;

    &.btn-xs {
      @apply size-5 p-0;
    }

    &.btn-sm {
      @apply size-7 p-0;
    }

    &.btn-lg {
      @apply size-12 p-0;
    }
  }
}
